.card-wrapper {
  --md-elevation-shadow-color: var(--md-sys-color-shadow);
  background-color: var(--md-sys-color-surface);
  border: 0;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  padding: 0 1rem;
  position: relative;
  text-align: center;
}

.elevated {
  --md-elevation-level: 1;
  background-color: var(--md-sys-color-surface-container-low);
}

.elevated.disabled, .filled.disabled {
  --md-elevation-level: 1;
  background-color: var(--md-sys-color-surface);
  opacity: 0.38;
}

.elevated.draggable {
  --md-elevation-level: 4;
  background-color: var(--md-sys-color-on-surface);
  opacity: var(--md-sys-state-dragged-state-layer-opacity);
}

.elevated:focus-visible {
  outline: 1px solid var(--md-sys-color-secondary);
}

.filled {
  --md-elevation-level: 0;
  background-color: var(--md-sys-color-surface-container-highest);
}

.filled.draggable {
  --md-elevation-level: 3;
  background-color: var(--md-sys-color-on-surface);
}

.filled:focus-visible {
  outline: 1px solid var(--md-sys-color-surface);
}

.outlined {
  --md-elevation-level: 0;
  background-color: var(--md-sys-color-surface);
  outline: 1px solid var(--md-sys-color-outline-variant);
}

.outlined.disabled {
  outline: 1px solid var(--md-sys-color-outline);
}

.outlined.draggable {
  --md-elevation-level: 3;
  background-color: var(--md-sys-color-on-surface);
  opacity: var(--md-sys-state-dragged-state-layer-opacity);
}

.outlined:focus-visible {
  outline: var(--md-sys-state-focus-indicator-outer-offset) solid var(--md-sys-color-secondary);
  outline-width: var(--md-sys-state-focus-indicator-thickness);
}